@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* banner style */
.banner{
  background-image: url('../images/banner/banner2.png');
  height: 810px;
  background-position: ;
  
}
.banner-text{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 250px;
  padding-left: 350px;
}
.banner-text h1{
  font-size: 50px;
}
.banner-text p{
  width: 350px;
  color: #777;
  margin: 20px 0;
}
.btn{
  border: none;
  color: #fff;
  background-color: tomato;
  padding: 15px 35px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 17px;
}
/* failures-area style */
.failures-area{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5%;
  gap: 100px;
}
.failures-img{
  width: 50%;
}
.failures-img img{
  width: 100%;
}
.failures-text{}
.failures-text h1{
  font-size: 40px;
  color: #333;
  font-weight: 700;
}
.failures-text p{
margin: 20px 0;
}
.failures-text ul li{
  font-size: 14px;
  margin-bottom: 10px;
  list-style: none;
}
.fa-check{
  color: rgb(63, 224, 63);
  font-size: 17px;
  margin-right: 10px;
}

/* plan area style */
.plan-area{
  padding: 100px;
}
.plan-container{
  display: flex;
  justify-content: space-around;
}
.title{
  text-align: center;

}
.title h1{
  font-size: 40px;
  margin-bottom: 50px;
}
.single-plan{
  text-align: center;
}
.plan-img {}
.plan-img img{}
.plan-text{}
.plan-text h1{
  margin: 10px 0;
  font-weight: 700;
}
.plan-text p{
  font-size: 17px;
  font-weight: 500;
  color: #333;
}

/* keep-area style */
.keep-area{
  background-image: url('../images/gradient2.png');
  background-repeat: no-repeat;
  padding: 5%;
  margin: 5%;
}
.keep-text{}
.keep-text h1{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.call{
  border: none;
  border-radius: 5px;
  padding: 15px 35px;
  font-size: 17px;
  font-weight: 700;
}